table.board {
    margin: 0 auto;
    border-collapse: collapse;
}

tr.board-row {

}

td {
    width: 30px;
    height: 30px;
    text-align: right;
    color: grey;
    font-weight: bold;
    padding: 3px;
}

td.board-cell {
    border: 1px solid blanchedalmond;
    background-color: #fffed7;
    cursor: context-menu;
}

td.board-cell:hover {
    background-color: blanchedalmond;
}

td.board-around-kill {
    background-color: #ffdcd2;
}

td.board-around-kill:hover {
    background-color: #ffab9f;
}

td.board-ship {
    background-color: #46b8da;
}

td.board-ship:hover {
    background-color: #368bff;
}

td.board-hit {
    background-color: #d43f3a;
}

td.board-hit:hover {
    background-color: #cd080e;
}

td.board-miss {
    background-color: #fff069;
}

td.board-miss:hover {
    background-color: #fffe00;
}

td.board-kill {
    background-color: #d43f3a;
}

td.board-kill:hover {
    background-color: #cd080e;
}

td.board-fire {
    background-color: #86ff6d;
}

td.board-fire:hover {
    background-color: #3bff1c;
}

#game .panel-body {
    padding: 5px;
    position: relative;
}

#game .panel-heading, #game .panel-footer {
    text-align: center;
}

.nav-link {
    position: fixed;
    top: 15px;
    color: #777;
    text-decoration: underline;
}

#new-game {
    right: 15px;
}

#open-chat {
    right: 100px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    background-color: rgba(221, 221, 221, 0.5);
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    z-index: 2;

    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
