<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Battleships Web Application</display-name>

    <listener>
        <listener-class>battleships.InitListener</listener-class>
    </listener>
    <listener>
        <listener-class>battleships.SessionListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>publish</servlet-name>
        <servlet-class>battleships.PublishServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>publish</servlet-name>
        <url-pattern>/publish</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>subscribe</servlet-name>
        <servlet-class>battleships.SubscribeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>subscribe</servlet-name>
        <url-pattern>/subscribe</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>chat-start</servlet-name>
        <servlet-class>battleships.SessionStartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chat-start</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>no-session</filter-name>
        <filter-class>battleships.NoSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>no-session</filter-name>
        <servlet-name>publish</servlet-name>
        <servlet-name>subscribe</servlet-name>
    </filter-mapping>

    <session-config>
        <session-timeout>3</session-timeout>
    </session-config>
</web-app>
